@import url('https://fonts.googleapis.com/css?family=Bungee|Bungee+Inline');

.title{
  margin: 25px;
  font-family: 'Bungee';
  
  
}
#next-button{
  margin: 25px;
  width: 200px;
  font-family: 'Bungee';
  disabled: true;
  
}#next-button:focus{
  outline: none;
}
img{
  width: 250px;
  height: 400px;
  border-radius: 5px;
  margin: 5px;
  padding: 2px;
  cursor: pointer;
  transition: 350ms all;
}img:hover{
  opacity: 0.8;
}
input[type=radio]{
  visibility: hidden;
}

input[type=radio]:checked + img{
  box-shadow: 0 0px 3px 3px #428bca;
  transform: rotateZ(7.5deg);
}
@media only screen and
  (max-width: 800px){
    img{
      width: 125px;
      height: 200px;
    }
    .title{
      font-size: 30px;
    }
    #next-button{
      width: 100px;
    }
}
  